<header class="header">
    <nav>
        <button type="button" onclick="window.location.href='/'">Home</button>
        <button type="button" onclick="window.location.href='/about'">About</button>
        <button type="button" onclick="window.location.href='/specialization'">Specializations</button>
        <button type="button" onclick="window.location.href='/jobs_internship'">Jobs/Internships</button>
        <button type="button" onclick="window.location.href='/mentoring'">Mentoring</button>
        <button type="button" onclick="window.location.href='/registration'">Registration</button>
        <button type="button" onclick="window.location.href='/login'">Login</button>
    </nav>
</header>
